body{
    background-color: black ;
    color: pink;
    font-family: 'Arial', sans-serif ;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

button{
    border: none;
    font-size: 3rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: pink;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

button:hover{
    opacity: 0.7;
}

#rock{
    background-color: rgb(204, 74, 74);
}

#paper{
    background-color: rgb(59, 176, 230);
}

#scissors{
    background-color: green;
}

#user-score{
    color: rgb(99, 181, 236);
}

#computer-score{
    color: rgb(241, 87, 87);
}